* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 30px 100px;
  background-color: #f3f9fd;
  background-size: cover;
  &_burger {
    display: none;
  }
  &_logo {
    cursor: pointer;
    flex-basis: 10%;
  }
  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
    &_links {
      display: flex;
      gap: 10%;
      a {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        transition: all 0.3s;
        &:hover {
          color: #007aff;
        }
      }
    }
  }
  &_btn {
    height: fit-content;
    background-color: #007aff;
    border-radius: 10px;
    color: #ffffff;
    padding: 15.5px 28px;
    border: 1px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      border: 1px solid #007aff;
      color: #007aff;
    }
  }
}

.intro {
  padding-bottom: 100px;
  background-color: #f3f9fd;
  background-size: cover;
  .container {
    display: flex;
    align-items: center;
  }
  &_content {
    &_title {
      color: #0e1133;
      font-size: 56px;
      font-weight: 700;
    }
    &_text {
      margin-top: 18px;
      font-size: 18px;
      color: #505056;
      font-weight: 400;
      line-height: 28px;
    }
    &_btn {
      display: flex;
      align-items: center;
      width: 190px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: translateY(-5px);
      }
    }
    &_btns {
      display: flex;
      margin-top: 40px;
      gap: 45px;
    }
  }
}

.trusted {
  margin: 80px 0;
  &_title {
    text-align: center;
    color: #0e1133;
    font-size: 20px;
    font-weight: 500;
  }
  &_icons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}

.description {
  margin: 100px 0;
  &_title {
    text-align: center;
    color: #000000;
    font-size: 48px;
    font-weight: 700;
  }
  &_mini-text {
    text-align: center;
    color: #505056;
    font-size: 16px;
    font-weight: 400;
  }
  &_cards {
    margin-top: 80px;
    display: flex;
    gap: 32px;
  }
  &_card {
    padding: 24px;
    background-color: #ffffff;
    box-shadow: 0px 0px 24px rgba(44, 41, 41, 0.1);
    border-radius: 8px;
    transition: all 0.3s;
    &_title {
      margin-top: 24px;
      color: #0e1133;
      font-size: 24px;
      font-weight: 500;
    }
    &_info {
      margin-top: 24px;
      color: #505056;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &_card:hover {
    box-shadow: 2px 2px 24px rgba(44, 41, 41, 0.3);
  }
}

.organization {
  background-color: #0e1133;
  padding-bottom: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    color: #ffffff;
  }
  &_img {
    width: 50%;
    height: 100%;
  }
  &_content {
    &_title {
      font-size: 48px;
      font-weight: 700;
    }
    &_text {
      margin-top: 24px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24.8px;
    }
    &_types {
      margin-top: 48px;
      display: flex;
      justify-content: space-between;
    }
    &_type {
      display: flex;
      align-items: start;
      gap: 20px;
      &_cover {
        display: flex;
        flex-direction: column;
      }
      &_title {
        font-size: 20px;
        padding-bottom: 16px;
        font-weight: 700;
      }
      &_info {
        font-weight: 400;
        font-size: 16px;
        line-height: 24.8px;
      }
    }
  }
}

.info {
  margin-top: 120px;
  margin-bottom: 80px;
  .container {
    display: flex;
    align-items: center;
  }
  &_content {
    flex-basis: 60%;
    &_text {
      line-height: 24.8px;
    }
    &_list {
      margin-top: 48px;
      display: flex;
      gap: 27px;
      &_item {
        display: flex;
        justify-content: space-between;
        flex-basis: 49%;
        gap: 19.2px;
        &_cover {
          display: flex;
          flex-direction: column;
        }
        &_title {
          color: #000000;
          font-size: 20px;
          font-weight: 700;
        }
        &_text {
          margin-top: 16px;
          color: #000000;
          font-size: 16px;
          font-weight: 400;
          line-height: 24.8px;
        }
        img {
          width: 10%;
          height: 24.5px;
        }
      }
    }
    &_btn {
      margin-top: 48px;
      color: #007aff;
      font-size: 16px;
      font-weight: 400;
      padding: 15.5px 28px;
      border: 1px solid #007aff;
      border-radius: 10px;
      background-color: #ffffff;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        background-color: #007aff;
        color: #ffffff;
      }
    }
  }
  &_img {
    flex-basis: 40%;
    img {
      width: 100%;
    }
  }
}

.plans {
  margin-top: 120px;
  padding-bottom: 120px;
  background-color: #f3f9fd;
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_title {
    padding-top: 120px;
    text-align: center;
    width: 730px;
    color: #0e1133;
    font-size: 48px;
    font-weight: 700;
  }
  &_text {
    text-align: center;
    width: 730px;
    color: #505056;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 24.8px;
  }
  &_cards {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  &_card {
    padding: 78px 32px 32px 32px;
    border-radius: 6px;
    background-color: #ffffff;
    transition: all 0.3s;
    &_price {
      font-size: 48px;
      font-weight: 700;
      color: #0e1133;
      span {
        color: #71717a;
        font-size: 16px;
        font-weight: 400;
      }
    }
    &_description {
      margin-top: 21px;
      color: #505056;
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 29px;
      border-bottom: 1px solid #9fcdff;
      line-height: 24.8px;
    }
    &_info {
      margin-top: 32px;
      list-style: none;
      li {
        display: flex;
        gap: 10px;
        padding-bottom: 16px;
      }
    }
    &_btn {
      padding: 15px 63.5px;
      color: #007aff;
      font-size: 16px;
      background-color: #ffffff;
      border: 1px solid #007aff;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: #ffffff;
        background-color: #007aff;
      }
    }

    &:hover {
      box-shadow: 2px 2px 7px 7px rgba(44, 41, 41, 0.1);
    }
  }
}

.testimonials {
  margin: 100px 0;
  &_title {
    color: #0e1133;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }
  &_text {
    margin-top: 24px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  &_cards {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  &_card {
    a {
      text-decoration: none;
    }
    background: #ffffff;
    padding: 32px;
    flex-basis: 48%;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s;
    &_text {
      margin-top: 24px;
      color: #505056;
      line-height: 24.8px;
    }
    &_profile {
      margin-top: 24px;
      display: flex;
      gap: 20px;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      &_name {
        font-weight: 500;
        color: #0e1133;
      }
      &_job {
        color: #0e1133;
      }
    }
    &:hover {
      border: 1px solid #007aff;
    }
  }
}

.download {
  background-color: #007aff;
  padding: 150px 0;
  .container {
    text-align: center;
  }
  &_title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
  }
  &_text {
    margin-top: 32px;
    font-size: 21px;
    color: #ffffff;
    line-height: 33px;
  }
  &_input {
    width: 40%;
    margin-top: 54px;
    padding: 16px;
    border-radius: 4px;
    border: 3px solid transparent;
    outline: none;
    transition: all 0.3s;
    &:focus {
      border: 3px solid rgb(208 208 208 / 65%);
    }
  }
  &_btn {
    background-color: #fbaf5b;
    color: #ffffff;
    border-radius: 10px;
    padding: 16px 28px;
    margin-left: 21px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
      color: #fbaf5b;
    }
  }

  &_terms {
    margin-top: 21px;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }
}

.footer {
  padding-top: 125px;
  background-color: #0f172a;
  .container {
    display: flex;
    gap: 15%;
    color: #ffffff;
  }
  &_list {
    list-style: none;
    li {
      padding-bottom: 32px;
      transition: all 0.3s;
      &:not(:first-child):hover {
        cursor: pointer;
        color: #007aff;
      }
    }
    &_title {
      font-size: 20px;
      font-weight: 500;
      cursor: default;
    }
  }
  &_links {
    margin: 0 85px;
    padding: 46px 0;
    display: flex;
    justify-content: space-between;
    color: #a1a1aa;
    border-top: 1px solid #1e293b;
    span {
      color: #007aff;
    }
    &_sm {
      display: flex;
      gap: 30px;

      //   align-items: center;
      //   justify-content: center;
      border-radius: 100%;
      img {
        width: 34px;
        height: 34px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        padding: 10px;
        margin: 0 auto;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background: #007aff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .header {
    padding: 30px 75px;
  }
  .intro {
    img {
      width: 55%;
    }
    &_content {
      &_btn {
        img {
          width: fit-content;
        }
      }
    }
  }
  .footer {
    .container {
      gap: 11%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .header {
    padding: 25px 60px;
    &_nav {
      &_links {
        gap: 8%;
      }
    }
    &_btn {
      padding: 12px 20px;
    }
  }

  .intro {
    &_content {
      &_btn {
        img {
          width: 80%;
        }
      }
      &_title {
        font-size: 48px;
      }
      &_btns {
        flex-direction: column;
      }
    }
  }
  .organization {
    &_content {
      &_title {
        font-size: 40px;
      }
    }
  }

  .info {
    margin-top: 60px;
    margin-bottom: 0;
  }

  .plans {
    margin-top: 60px;
    padding-bottom: 60px;
    &_title {
      padding-top: 60px;
      font-size: 40px;
    }
    &_card {
      padding: 25px 16px;
      &_price {
        font-size: 38px;
      }
      &_btn {
        padding: 15px 25px;
      }
      &_description {
        margin-bottom: 18px;
        padding-bottom: 18px;
      }
      &_info {
        margin-bottom: 18px;
      }
    }
  }
  .testimonials {
    margin: 60px 0;
    &_cards {
      margin-top: 60px;
      gap: 25px;
    }
    &_card {
      padding: 20px;
      &_text {
        margin-top: 12px;
      }
      &_profile {
        margin-top: 12px;
      }
    }
  }

  .download {
    padding: 60px 0;
  }
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 768px;
  }
  .header {
    padding: 25px;
    &_logo {
      width: 75px;
    }
    &_nav {
      &_links {
        gap: 5%;
      }
    }
    &_btn {
      padding: 12px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 600px;
  }
  .header {
    justify-content: flex-end;
    &_burger {
      display: block;
      width: 20px;
    }
    &_logo {
      display: none;
    }
    &_nav {
      display: none;
    }
    &_btn {
      display: none;
    }
  }
  .intro {
    padding-bottom: 60px;
    &_content {
      &_title {
        font-size: 32px;
      }
      &_text {
        font-size: 16px;
      }
      &_btn {
        img {
          width: 60%;
        }
      }
    }
  }
  .trusted {
    margin: 50px 0;
  }
  .description {
    &_card {
      padding: 12px;
      img {
        width: 30%;
      }
      &_title {
        margin-top: 12px;
        font-size: 20px;
      }
      &_info {
        font-size: 14px;
        margin-top: 12px;
      }
    }
    margin: 60px 0;
  }
  .organization {
    .container {
      padding: 60px 0;
      flex-direction: column;
    }
    &_content {
      &_title {
        font-size: 32px;
      }
      &_text {
        margin-top: 20px;
        font-size: 14px;
        line-height: 20px;
      }
      &_types {
        margin-top: 30px;
      }
      &_type {
        gap: 10px;
        &_ttile {
          padding-bottom: 10px;
          font-size: 18px;
        }
        &_info {
          font-size: 14px;
        }
      }
    }
    &_img {
      width: 40%;
    }
  }
  .info {
    margin: 40px 0;
    &_content {
      &_text {
        line-height: 20px;
      }
      &_list {
        margin-top: 20px;
        &_item {
          gap: 10px;
          &_title {
            font-size: 18px;
          }
          &_text {
            margin-top: 10px;
          }
        }
      }
      &_btn {
        margin-top: 30px;
      }
    }
  }
  .plans {
    &_title {
      padding-top: 40px;
      font-size: 26px;
      width: auto;
    }
    &_text {
      width: auto;
    }
    &_card {
      padding: 15px;
      &_price {
        font-size: 26px;
        span {
          font-size: 14px;
        }
      }
      &_description {
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 14px;
      }
      &_info {
        margin: 10px 0;
        li {
          gap: 8px;
          font-size: 14px;
        }
      }
      &_btn {
        padding: 10px;
      }
    }
  }
  .testimonials {
    margin: 40px 0;
    &_title {
      font-size: 32px;
    }
    &_text {
      margin-top: 10px;
    }
    &_cards {
      margin-top: 25px;
      gap: 15px;
    }
  }
  .download {
    padding: 40px 0;
    &_title {
      font-size: 40px;
    }
    &_text {
      margin-top: 18px;
      font-size: 16px;
    }
    &_input {
      margin-top: 10px;
      padding: 10px;
    }
    &_btn {
      padding: 12px 20px;
    }
    &_terms {
      margin-top: 18px;
    }
  }
  .footer {
    padding-top: 40px;
    .container {
      gap: 8%;
    }
    &_list {
      li {
        padding-bottom: 16px;
        font-size: 14px;
      }
      &_title {
        font-size: 18px;
      }
    }
    &_links {
      margin: 0 30px;
      padding: 30px 0;
      &_copyright {
        font-size: 14px;
      }
      &_sm {
        gap: 15px;
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .container {
    max-width: 375px;
  }
  .hedaer {
    padding: 10px;
  }
  .intro {
    padding-bottom: 30px;
    &_content {
      &_title {
        font-size: 24px;
      }
      &_text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
      }
      &_btns {
        margin-top: 15px;
        gap: 15px;
      }
      &_btn {
        width: 125px;
        img {
          width: 40%;
        }
      }
    }
  }

  .trusted {
    margin: 20px 0;
    &_title {
      font-size: 18px;
    }
    &_icons {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      img {
        width: fit-content;
      }
    }
  }
  .description {
    margin: 20px 0;
    &_title {
      font-size: 22px;
    }
    &_mini-text {
      font-size: 14px;
    }
    &_cards {
      margin-top: 20px;
      flex-direction: column;
    }
    &_card {
      img {
        width: 20%;
      }
    }
  }

  .organization {
    .container {
      padding-top: 20px;
    }
    &_content {
      &_title {
        font-size: 22px;
      }
      &_text {
        margin-top: 10px;
        line-height: 18px;
      }
      &_types {
        margin-top: 20px;
        flex-direction: column;
        gap: 10px;
      }
      &_type {
        &_title {
          padding-bottom: 10px;
        }
        img {
          width: 25%;
        }
      }
    }
  }
  .info {
    .container {
      flex-direction: column;
    }
    &_content {
      &_btn {
        margin-top: 20px;
      }
    }
  }
  .plans {
    &_cards {
      margin-top: 50px;
      flex-direction: column;
    }
  }
  .testimonials {
    &_cards {
      flex-direction: column;
    }
  }
  .footer {
    .container {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 420px) {
  .container {
    max-width: 350px;
  }
}
